{% load static %}

<hr>
<div class="col-sm-3 col-md-7">

<div class="card" style="width: 15rem;">
 
    <a href=""><img class="card-img-top" src="{% static 'images/img_empty.png' %}" alt="product"></a>
    
  <div class="card-body">
    <h4 class="card-title">{{ obj.product_name}}</h4>
    <p class="card-text">{{ obj.product_description|linebreaks|truncatewords:14 }}</p>
    <p class="card-text">AED {{ obj.prices.all|first }}</p>
    <p class="card-text">{{obj.quantities.all|first }} KG available </p>
    
    <div class='text-center'>
        <button class="text-center btn btn-outline-dark btn-sm mt-4 sc-add-to-cart" data-id={{ obj.id}} data-name={{ obj.product_name }}  data-price={{ obj.prices.all|first}}  type="submit">Add to cart</button>
    </div>
   
  </div>
</div>
</div>
<hr>

				
			
