{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
	
	<div class="row mt-2 ">
			{% for obj in object_list %}
				<div class="col" style="padding:0px;">
					{% include 'snippets/card.html' with instance=obj %}  
				</div>
			{% endfor %}
		</div>
		{# this is cart section #}
		<div class="col-sm-12 col-md-4  ml-auto sticky-top" >
				
			<div class="row align-items-center " >
				<div class="col text-center " style="padding:0px;">
                 <div id="cart"> </div>
				</div>
			</div>
			</div>
			
		</div>
	
<script src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () { //initialize shopping cart
  $('#cart').simpleCart({
    addtoCartClass: '.sc-add-to-cart',
    cartProductListClass: '.cart-products-list',
    totalCartCountClass: '.total-cart-count',
    totalCartCostClass: '.total-cart-cost',
    showcartID : '#show-cart',
    itemCountClass : '.item-count'
  });
  $('.cart-checkout').click(function() {
      var mydata = localStorage.getItem("shoppingCart"); //click event on checkout
      
      console.log(mydata)
      $.ajax({
        url: '/cart/api/product-validate/',//validate items on cart
        data:{
          'mydata': mydata
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_available) {
            alert('Proceed to checkout');
            checkout();  //checkout  
          }
          else {
              alert(data.error_message)
          }
        }      
  })  
});
function checkout(){
    var mydata = localStorage.getItem("shoppingCart");
    $.get({
        url: '/cart/api/checkout/', //checkout cart
        data: {
            'mydata': mydata
        },
        dataType: 'json',
        success: function (data){
            if (data.accepted){
            alert('Your Order has been recieved'); 
            localStorage.removeItem("shoppingCart");
            window.location.href = "/cart/checkout/success/";    //redirect to success page        
            
            }
            else {
                alert('something went wrong');
                console.log(data.accepted)
                document.location.reload();
            }
            
        }
    })
}
})
</script>
{% endblock %}