{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
	
	<div class="row mt-2 ">
			{% for obj in object_list %}
				<div class="col" style="padding:0px;">
					{% include 'snippets/card.html' with instance=obj %}  
				</div>
			{% endfor %}
		</div>
		{# this is cart section #}
		<div class="col-sm-12 col-md-4  ml-auto sticky-top" >
				
			<div class="row align-items-center " >
				<div class="col text-center " style="padding:0px;">
                 <div id="cart"> </div>
				</div>
			</div>
			</div>
			
		</div>
	
<script src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () { //initialize shopping cart
  $('#cart').simpleCart({
    addtoCartClass: '.sc-add-to-cart',
    cartProductListClass: '.cart-products-list',
    totalCartCountClass: '.total-cart-count',
    totalCartCostClass: '.total-cart-cost',
    showcartID : '#show-cart',
    itemCountClass : '.item-count'
  });
  
  $('.cart-checkout').click(function() { 
      var cartItems = localStorage.getItem("shoppingCart"); //click event on checkout     
      console.log(cartItems)
      $.ajax({
        url: '/cart/api/product-validate/',//validate items on cart
        data:{
          'cartItems': cartItems
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_available) {
            alert('Proceed to checkout');
            checkout(cartItems);  //checkout  
          }
          else {
              alert(data.error_message)
          }
        }      
  })  
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
} 

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function checkout(items){
    console.log(csrftoken)
    $.ajax({
        type: "POST",
        url: '/cart/api/checkout/', //checkout cart
        data: {
            'items': items
        },
        dataType: 'json',
        success: function (data){            
            alert(data.accepted); 
            console.log(items)
            localStorage.removeItem("shoppingCart");
            window.location.href = "/cart/checkout/success/";    //redirect to success page        
            },
        error: function() {
                alert('something went wrong');
                document.location.reload();
            },
            
        })
    }
})

</script>
{% endblock %}