{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
	
	<div class="row mt-2 ">
			{% for obj in object_list %}
				<div class="col" style="padding:0px;">
					{% include 'snippets/card.html' with instance=obj %}  
				</div>
			{% endfor %}
		</div>
		{# this is cart section #}
		<div >
				
			<div class="align-items-center " >
				<div class="text-center " style="padding:0px;">
          <div id="cart" style="display: none; width: 500px; height: 500px;"> </div>
				</div>
			</div>
			</div>
			
		</div>
	
<script src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () { //initialize shopping cart
  $('#cart').simpleCart({
    addtoCartClass: '.sc-add-to-cart',
    cartProductListClass: '.cart-products-list',
    totalCartCountClass: '.total-cart-count',
    totalCartCostClass: '.total-cart-cost',
    showcartID : '#show-cart',
    itemCountClass : '.item-count',
    itemCountID : '#itemCount'
  })
$("#cart_button").click(function(){
  $("#cart").toggle();
})


var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
} 

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  }
})

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

$('.cart-checkout').click(function() { 
    var cartItems = localStorage.getItem("shoppingCart"); //click event on checkout     
    console.log(cartItems)
    validate(cartItems)
})

function validate(cartItems){
  $.ajax({
      type: "GET",
      url: '/cart/api/product-validate/',//validate items on cart
      data:{
        'cartItems': cartItems
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_available) {
          alert('Proceed to checkout');
          checkout(cartItems);  //checkout 
          localStorage.removeItem("shoppingCart");  
          document.location.reload();        
        }
        else {
            alert(data.error_message)
        }
      }      
  })
   
} 
function checkout(cartItems){
  $.ajax({
    type: "POST",
    url: '/cart/api/checkout/', //checkout cart
    data: {
        'cartItems': cartItems
    },
    dataType: 'json',
    success: function(data){            
        alert(data.accepted); 
        document.location.reload(); 
        window.location.href = "/cart/checkout/success/";    //redirect to success page     
        },
    error: function() {
            alert('something went wrong');
            document.location.reload();
        },
        
    })
  }
})

</script>
{% endblock %}